<div class="nav">

  <div class="logo">
    <img src="/assets/logo.webp" alt="">
  </div>

  
</div>

<!-- Fiche de visite Diagnostic Immobilier -->

<div class="container">

  <p-steps [activeIndex]="active" [model]="steppers" [readonly]="false" />


  <div class="step" *ngIf="active == 0" >
    
    <input
      type="text"
      pInputText
      placeholder="Adresse complète"
    >
    <input 
      type="text"
      pInputText
      placeholder="Superficie totale (m2)"
    >
  
    <h3>Nombre de pièces : </h3>
    <input 
      type="text"
      pInputText
      placeholder="Chambres"
    >
    <input 
      type="text"
      pInputText
      placeholder="Salles de bain"
    >
    <input 
      type="text"
      pInputText
      placeholder="WC"
    >
    <input 
      type="text"
      pInputText
      placeholder="Année de construction"
    >
    <input 
      type="text"
      pInputText
      placeholder="Étage"
    >
    
    <p-dropdown 
      [options]="ascenceur" 
      optionLabel="name"
      placeholder="Présence d'un ascenseur" 
    />
    
    <p-dropdown 
      [options]="terrasse_balcon" 
      optionLabel="name"
      placeholder="Terrasse ou balcon" 
    />
    
    <input 
      type="text"
      pInputText
      placeholder="Stationnement"
    >
  </div>


  <!-- Part 2 -->

  <div class="step" *ngIf="active == 1" >
    <input 
      type="text"
      pInputText
      placeholder="État général"
    >
    
    <input 
      type="text"
      pInputText
      placeholder="Travaux nécessaires"
    >
    
    <textarea 
      rows="5"
      cols="30" 
      pInputTextarea
      placeholder="Remarques sur l’agencement (circulation, luminosité, hauteur sous plafond,  etc.)"
    >
    </textarea>

  </div>
  

  <!-- Part 3 -->

  <div class="step" *ngIf="active == 2">

    <input 
      type="text"
      pInputText
      placeholder="Prix estimé au m2 (€)"
    >
    <input 
      type="text"
      pInputText
      placeholder="Prix vente global estimé (€)"
    >
  </div>

  <!-- Part 4 -->
  <div class="step" *ngIf="active == 3" >
  
    <input 
      type="text"
      pInputText
      placeholder="Loyer nu estimé (€/mois)"
    >
    <input 
      type="text"
      pInputText
      placeholder="Loyer meublé estimé (€/mois)"
    >
    
    <input 
      type="text"
      pInputText
      placeholder="Complément potentiel (terrasse, localisation, etc.)"
    >
    
    <input 
      type="text"
      pInputText
      placeholder="Charges mensuelles estimées"
    >
  </div>

  <!-- Part 5 -->
  
  <div class="step" *ngIf="active == 4" >

    <p-dropdown 
      [options]="niveau_de_demande" 
      optionLabel="name"
      placeholder="Niveau de demande locative" 
    />
    
    <p-dropdown 
      [options]="cible" 
      optionLabel="name"
      placeholder="Niveau de demande locative" 
    />
  </div>


  <div class="flex-button">
    <div  *ngIf="active === 0"></div>
    <p-button
      *ngIf="active != 0"
      (click)="buttonStepper('back')"
      label="Retour"
      severity="danger"
    />
      
    <p-button
      
      *ngIf="active < 4"
      (click)="buttonStepper('next')"
      label="Suivant"
      severity="warning"
    />
  </div>
</div>

<router-outlet></router-outlet>